body, html {
  margin: 0; 
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

body{
  background-color: black;
}

.invisible{
  display: none;
}

.visible-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.visible-main h1{
  color: white;
  font-size: 50px;
  letter-spacing: 30px;
  
}

.visible-main input{
  width: 200px;
  height: 20px;
  margin-bottom: 20px;
}

.visible-main button{
  width: 60px;
  height: 30px;
  font-size: 15px;
}
.Hellfire{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.Hellfire img{
  width: 400px;
  height: 600px;
  animation: FireAnimation 2s ease-in-out;
}

@keyframes FireAnimation {
  0%{
    transform: scaleX(0);
  }
  50%{
    transform: scaleX(1);
  }

  100%{
    transform: scaleX(0);
  }
}


.RedScreen{
  position: fixed;
  background-color: red;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
}


@media (max-width: 600px){
  .visible-main{
    margin-top: 250px;
  }
  .visible-main h1{
    font-size: 20px;
    letter-spacing: 0;
  }
  .Hellfire{
    margin-top: 10px;
    transform: scale(0.5);
  }
  .RedScreen{
    font-size: 10px;
  }
}


